doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, shrink-to-fit=no', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    block title
      title 40Hours
    link(rel="apple-touch-icon", sizes="180x180", href="./apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./favicon-16x16.png")
    link(rel="manifest", href="./manifest.json")
    link(rel="mask-icon", href="./safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#22A7F0")
    
  body
    nav.navbar.fixed-top.navbar-expand-sm.nav-blue
      a.navbar-brand.toTop(href='index.html')
        img.navbar-left(alt='Logo', onerror='this.src="./img/logowhite.png"', src='./img/logowhite.svg', class='d-inline-block align-top')
      button.navbar-toggler.ml-auto(aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation', data-target='#navbarResponsive', data-toggle='collapse', type='button')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.nav-item-blue
            a.nav-link.pull-right(href='job_openings.html') Job Openings
          li.nav-item.nav-item-blue
            a.nav-link.pull-right(href='resume_cv.html') Resume
          li.nav-item.nav-item-blue
            a.nav-link.pull-right(href='applications.html') Applications
          li.nav-item.nav-item-blue
            a.nav-link.pull-right(href='interviews.html') Interviews
          li.nav-item.nav-item-blue
            a.nav-link.pull-right(href='contact.html') About/Contact
    block content
    footer.py-4.bg-dark
      p.m-0.text-center.text-white
        p.text-center.text-muted
          | Copyright (c) 2017-2018 Nixa FBLA Web Design Team 
          a(href='LICENSE') License
        //a(href='https://gitlab.com/ryanknutson/nixafbla2017/commit/_COMMITSHA_') _COMMITSHASHORT_
        //|  _DATETIME_
      link(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', rel='stylesheet')
      link(href='./css/modern-business.css', rel='stylesheet')
      script(src='//code.jquery.com/jquery-3.2.1.min.js')
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js')
      script(src='//cdn.rawgit.com/mouse0270/bootstrap-notify/master/bootstrap-notify.min.js')
      
      script(src='js/custom-min.js')
      script.
        $( document ).ready(function() {
          $('.info > p').matchHeight();
        });
      link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css', rel='stylesheet')
      block footerscripts