//Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
//Copyright 2013-2017 Start Bootstrap
//Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)

@import 'scss/hover';
@import 'variables';

@media (min-width: 992px) {
    .guidebuttontext {
        padding-top: 9px;
    }
}

.row {
        width: 90% !important;
        margin: 0 auto !important;
}

.btn-primary {
        background-color: $main !important;
        border-color: $main !important;
}

a {
        color: $main;
}

body {
        padding-top: 54px;
}

@media (min-width: 992px) {
        body {
                padding-top: 56px;
        }
}

.nav-blue {
        background-color: $main;
        color: $off-white;
        border-color: $alt;
}

a.nav-link {
        color: $off-white;
}

//.nav-item-blue:hover, .nav-item-blue:focus, .nav-item-blue:active{
        //color:$off-white;
        //background-color: darken($main, 10%);
        //border-radius: 3px;
//}

.dropdown-item-blue{
        color: $off-white;
        border-color: $alt;
}

.dropdown-item-blue:hover, .dropdown-item-blue:focus, .dropdown-item-blue:active {
        color: $off-white;
        background-color: $alt;
}

.dropdown-menu {
        background-color: $alt;
}

.portfolio-item {
        margin-bottom: 30px;
}

a.linkul:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 2px solid $main;
        transition: 0.4s;
}

a.linkul:hover:after {
        width: 100%;
}

.navbar-brand {
        padding: 0px;
}

.navbar-brand > img {
        height: 50px;
        padding: 15px;
}

.nav_logo {
        width: 175px;
}

//this is so the logo and nav are a nice size on high dpi devices
@media (min-resolution: 192dpi) { 
        .nav_logo{width: 115px;}
}

@media (max-width: 992px) {
        .nav_logo{width: 115px;}
}

.carousel-item img {
        vertical-align: middle;
        border-style: none;
        width: 100%; 
        object-fit: cover; 
        overflow: hidden;
        max-height: 65vh;
        min-height: 2vh;
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    max-width: 30%;
    margin: 0 auto;
    background-color: rgba(34,49, 63, 0.3);
    border-radius: 2%;
}
        //Boxes with Icons
        @import "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";
        //^change this to use local files
        .box > .icon { 
        text-align: 
        center; 
        position: 
        relative; 
        }
        .box > .icon > .image { 
        position: relative; 
        z-index: 2; 
        margin: auto; 
        width: 88px; 
        height: 88px; 
        border: 8px solid white; 
        line-height: 88px; 
        border-radius: 50%; 
        background: $main;
        vertical-align: middle; 
        }
        .box > .icon > .image > i { 
        font-size: 36px !important; 
        color: #fff !important; 
        }
        .box > .icon:hover > .image > i { 
        color: white !important; 
        }
        .box > .icon > .info { 
        margin-top: -24px; 
        background: rgba(0, 0, 0, 0.04); 
        border: 1px solid #e0e0e0; 
        padding: 15px 0 10px 0; 
}
.box>.icon>.info>h3.title {
        color: #222;
        padding-top: 10px;
}
.box>.icon>.info>p {
        color: #666;
        margin: 20px;
}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { 
        color: #222; 
}
.box > .icon > .info > .more a { 
        font-family: sans-serif !important; 
        font-size: 12px; 
        color: #222; 
        line-height: 12px; 
        text-transform: uppercase; 
        text-decoration: none; 
}
.box > .icon:hover > .info > .more > a { 
        color: #fff; 
        padding: 6px 8px; 
        background-color: #63B76C; 
}
.box .space { 
        height: 30px; 
}

.modal-header-primary {
        color:#fff;
        padding:9px 15px;
        border-bottom:1px solid #eee;
        background-color: #428bca;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
}
//End Boxes with Icons
//Full Width Image
.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top:50px;
  padding-bottom:50px;
}

.light-yellow-background-on-image{
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding: 20px;
    color: #fff;
    text-align: center;
    background-color: rgba($main, 0.7);
}
    @media (min-width: 501px){
    .light-yellow-background-on-image{
        margin: calc(30vh - 100px) auto;
    }
    }
    
    @media (max-width: 500px) {
            .light-yellow-background-on-image{
                margin: 30px auto;
            }
    }

.navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


@media (max-width : 991px) {
      .rightimgbottom {
        display: none;
      }
    }
@media (min-width : 992px) {
        .rightimgtop {
                display: none;
        }
}

p {
    font-size: 1.2em;
}