extends ../views/_layout.pug

block title
  title 40 Hours

block footerscripts
  a(href="#", class="scrollToTop btn nav-blue hvr-bob") Scroll To Top
  style.
    .scrollToTop{
    	padding:10px; 
    	text-align:center; 
    	font-weight: bold;
    	text-decoration: none;
    	position:fixed;
    	top:93vh;
    	left:87vw;
    	display:none;
    	border: none !important;
    }
    .scrollToTop:hover{
    	text-decoration:none;
    	color: white;
    }
  script.
    $(function() {
        $(".breadcrumb-item a[href*='resume_cv.html']").attr('href', '#resume');
        $(".breadcrumb-item a[href*='applications.html']").attr('href', '#applications');
        $(".breadcrumb-item a[href*='job_openings.html']").attr('href', '#openings');
        $(".breadcrumb-item a[href*='interviews.html']").attr('href', '#interviews');
        
        $('a[href*="#"]:not([href="#"])').click(function() {
            var offset = -50; // <-- change the value here
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top + offset
                    }, 1500);
                    return false;
                }
            }
        });
        
        //Check to see if the window is top if not then display button
    	$(window).scroll(function(){
    		if ($(this).scrollTop() > 100) {
    			$('.scrollToTop').fadeIn();
    		} else {
    			$('.scrollToTop').fadeOut();
    		}
    	});
    	
    	//Click event to scroll to top
    	$('.scrollToTop').click(function(){
    		$('html, body').animate({scrollTop : 0},1500);
    		return false;
    	});
    });
block content

  style.
    .w100 {
      width: 100%;
    }

  // Page Content
  .container-fluid#openings
    // Page Heading/Breadcrumbs
    .row
      h1.mt-4.mb-3
        small Searching for 
        | Job Openings
    .row
      ol.breadcrumb
        li.breadcrumb-item.active Job Openings
        li.breadcrumb-item
          a(href='resume_cv.html') Resume
        li.breadcrumb-item
          a(href='applications.html') Applications
        li.breadcrumb-item
          a(href='interviews.html') Interviews

    .row
      .col-lg-4
        img.img-fluid.rounded.mb-4.w100(src='./img/jobfair2.jpg', alt='Image of a job fair')
      .col-lg-8
        h2 Check out a Job Fair
        p
          | One of the many benefits of job fairs is the opportunity to branch out in your career or explore jobs you may not have originally been open to applying for. Job fairs allow you to talk to many different employers in one day. If you are limited on time to search for a new job, they are an excellent opportunity to maximize your time to get the most out of your career search. 
        p
          | Job fairs are one of the best methods to search for jobs for the person with strong interview skills. When meeting potential employers, you are putting a face to your application, and hopefully leaving an excellent first impression. This personal interaction with a future employer can make your application stand out among many. 
        p
          | One of the few drawbacks of job fairs is that there is a very short window to get to know the employer. Preparation is key, so come with all necessary documents - and extra copies - and determine which employers you want to talk with in order of priority. This will allow you to maximize your time. Some employers even do on-site interviews, so you could walk away from a successful job fair with a new job!
          
    .row
      .col-lg-4.rightimgtop
        img.img-fluid.rounded.mb-4.w100(src='./img/jobsearch.jpg', alt='Internet Job Searching')
      .col-lg-8
        h2 Use the Internet!
        p
          | Many employers are switching over to a more electronic means of recruitment - the internet. If you know exactly what company you want to work for, you can search on their website to find their job openings, and often employers will allow you to apply directly.
        p
          | However, if you don't know what company you'd like to work for, you can always use a commercial job site! Sites like ZipRecruiter are used frequently by employers for job postings and connecting with potential employees.
        p
          | If you have a strong resume but not the strongest social skills, the traditional application process using the internet is likely best for you. Be warned, however - postings on the internet make up only about a fourth of all jobs, but the Internet age means there will be stiff competition for the jobs that are. Happy hunting!      
      .col-lg-4.rightimgbottom
        img.img-fluid.rounded.mb-4.w100(src='./img/jobsearch.jpg', alt='Internet Job Searching')
        
    .row
      .col-lg-4
        img.img-fluid.rounded.mb-4.w100(src='./img/networking.jpg', alt='Networking')
      .col-lg-8
        h2 Network
        p
          | Many people find a job through the connections they have. Your professional network is one of your greatest assests - especially if you are an outgoing person and have a large network! Your network can include past and present coworkers, business associates, past or present teachers or alumni of your school, or anyone, really! 
        p
          | Your network is highly important and should be maintained at all times. Keep in contact with your network, and keep a list of who you know and what they do. Your networking contacts may be able to help you find a job, but they can also help get you the job by connecting you with employers on a personal level or sending your potential employer a personal reccomendation.
        p
          | If you are still in the process of creating your professional network, sites like LinkedIn and networking events - such as alumni parties, which many colleges host - can help you connect with new people. Many people are happy to expand their own network at these kinds of events, and you might also be able to help them. Use your network - it is one of your most valuable tools!

  // Page Content
  .container-fluid#resume
    // Page Heading/Breadcrumbs
    .row
      h1.mt-4.mb-3
        small Writing your 
        | Resume
    .row
      ol.breadcrumb
        li.breadcrumb-item
          a(href='job_openings.html') Job Openings
        li.breadcrumb-item.active Resume
        li.breadcrumb-item
          a(href='applications.html') Applications
        li.breadcrumb-item
          a(href='interviews.html') Interviews
          
    .row
      .col-lg-6(style="background-image: url(/img/classic.jpg); background-size: cover;")
        //img.img-fluid.rounded.mb-4(src='https://resumegenius.com/wp-content/uploads/2015/02/Classic-BW-Template-OG-e1437464102555.jpg', alt='Classic Resume Template, B&W.')
      .col-lg-6
        h2 The Basics
        p
          | Writing your resume is one of the first steps towards getting a job position. Resumes should be short and to the point, allowing the person reviewing it to quickly get a feel for you as a person and if you fit the company. 
        p
          | In your resume, you should include an objective - what you are looking to do - along with your qualifications, education, experience, achievements, activities or interests, and of course, contact information. 
        p
          | As a general rule, focus on the most recent and relevant. With education, ensure that you include a GPA if you've recently graduated. If you have professional work experience, focus on your accomplishments and the skills you learned that are relevant to the position you are applying for. 
        p
          | Don't be afraid to include a little bit about yourself and your interests! If you're involved in a local organization, include that to add a personal touch to your resume. This helps the person reviewing your resume to remember you as a person, not just an application. 
    br
    .row
      h2 Our Best Tips
    .row
      .col-lg-4.mb-4
        .card.h-100.text-center
          .card-body
            h4.card-title The 7 Second Rule
            p.card-text
              | You have seven seconds to impress a reviewer. Make sure the top of the resume pops! In addition, your resume really shouldn't be longer than a page, and should be formatted simply, with bullet pointed items for quick review. The bullet points should describe previous work experience in how it relates to the position you are applying for, as opposed to simplistic "did x" descriptions.
      .col-lg-4.mb-4
        .card.h-100.text-center
          .card-body
            h4.card-title Customize, Customize, Customize
            p.card-text
              | Never use the same resume for all of your applications! That's a surefire way to have your resume tossed out - some places will even toss your resume automatically if it does not contain key industry language. Instead, tweak your resume each time to cater to the position you're applying for. Highlight your strengths and how they're relevant to the position. 

      .col-lg-4.mb-4
        .card.h-100.text-center
          .card-body
            h4.card-title Network and Modify
            p.card-text
              | Your resume isn't getting any attention - now what? Consider modifying your resume design to add color, or even a picture of yourself to attract special attention and make your resume memorable. You can also network with friends, alumni of your alma mater, and other people in your field to see if they have any tips or can get you a special reccomendation for a position.
    .row
      h2 Resume Templates
    .row
      .col-md-4.mb-4
        .card.h-100.text-center
          img.card-img-top(src='./img/classic.jpg', alt='Classic Resume Template B&W')
          .card-body
            h4.card-title Classic
            p.card-text
              | One of the most basic resume templates. Highly flexible and easy to read.
          .card-footer
            a(href='https://resumegenius.com/wp-content/uploads/2014/07/Template-DL-Basic-Classic-RWD.zip') Download
      .col-md-4.mb-4
        .card.h-100.text-center
          img.card-img-top(src='./img/chicago.jpg', alt='Chicago Resume Template Brick Red')
          .card-body
            h4.card-title Chicago
            p.card-text
              | Like Classic, Chicago is simple and good for most employment fields. For those who want more structure, Chicago keeps the sections of your resume more separate and clear.
          .card-footer
            a(href='https://resumegenius.com/wp-content/uploads/2016/01/Template-DL-Basic-Chicago.zip') Download
      .col-md-4.mb-4
        .card.h-100.text-center
          img.card-img-top(src='./img/elegant.jpg', alt='Elegant Resume Template Burnt Orange')
          .card-body
            h4.card-title Elegant
            p.card-text
              | The foil of Chicago, Elegant is for those who wish for a less heavy and less strictly structured resume. Like the other two templates listed here, it is excellent for most fields. 
          .card-footer
            a(href='https://resumegenius.com/wp-content/uploads/2016/01/Template-DL-Basic-Elegant.zip') Download

    .row
      .col-lg-6
        h2 Cover Letters
        p
          | Much like a resume, a cover letter is another important part of the application process. As far as formatting goes, you can set up your sheet with 1"-1.5" margins, and just about any font you want, as long as it's large enough to read (about 12pt). Keep uniformity throughout - don't change fonts or text alignment halfway through the letter. Your cover letter, like your resume, should only be one page.
        p
          | To begin, start at the top of the page with your contact information centered at the very top. Then, directly below that, include the contact information of the employer as if you were writing a business letter addressed to them. If you like, you can change the font and font color of your name to make it stand out from the rest of the page.
        p
          | Next, write the introduction. Do not begin with "To Whom It May Concern" - instead, try to find the name of the hiring manager and address them directly. After that, briefly discuss the position you are applying for and how you discovered it. This should take 1-2 sentences at most. The remainder of the introductory paragraph should present basic information about yourself: a quick summary of the information the employer will find in your resume. in a couple sentences.
        p
          | After you've finished introducing yourself, you have to sell yourself as the best candidate. Talk about how your experiences and skills will help the company succeed. You should include phrases from the job description in your sales pitch to demonstrate your knowledge about the position and your ability to fill it. If you really want to stand out, look at the direction the company is taking and their current mission, and explain how you fit into that.
        p
          | In your ending statement, you want to include a call to action. This should emphasize your desire to be interviewed for this position and emphasize your desire to hear something back. In this section, you should also thank the reader for their time, and other professional courtesies in order to wrap up the letter. Congratulations! You've completed your cover letter!
      .col-lg-6.text-center
        //a(href="https://resumegenius.com/cover-letters-the-how-to-guide/cover-letter-design-library#classic-cover-letters")
        img.img-fluid.rounded.mb-4(src='./img/cover.jpg', alt='Classic Cover Letter B&W')
      
    .row.text-center
      h5 Templates from 
        a(href="https://resumegenius.com") Resume Genius


  .container-fluid#applications

    .row
      h1.mt-4.mb-3
        small Filling out 
        | Applications
    .row
      ol.breadcrumb
        li.breadcrumb-item
          a(href='job_openings.html') Job Openings
        li.breadcrumb-item
          a(href='resume_cv.html') Resume
        li.breadcrumb-item.active Applications
        li.breadcrumb-item
          a(href='interviews.html') Interviews
    
    .row
      
      .col-lg-6
        h2 How to Fill Out a Job Application
        p
          | Filling out a job application is another common part of the employment process. Many jobs require that you complete an application along with your resume so the employer has another record of your education and employment history. When completing job applications, make sure you have all the information you need at your disposal, and that your application is free from errors. Discrepancies with your resume will often cause your application to get thrown out immediately. Job applications should also be complete - again, many employers will throw out applications that are not complete. 
      .col-lg-6
        h2 &nbsp;
        p
          | When filling out an application, make sure you take your time and are very thorough.  Many employers have moved to online applications, so you can fill out an application from the comfort of your home - and take your time. Keep a list of your employment history as well as your resume close by to ensure consistency and accuracy. Follow the directions to fill out the application down to the minute details, up to and including reading the fine print. If you don't have anything to say for a certain box - say you've never held a job before - just list N/A (not applicable). This helps to avoid the impression that you can't follow instructions. Neatness and grammar matter, so review your application before you submit it! Overall, the most important thing when filling out a job application is paying attention to detail and carefully ensuring accuracy.

    .row
      .col-lg-6
        img.img-fluid.rounded.mb-4(src='http://placehold.it/750x450', alt='')
      .col-lg-6
        h2 Items Most Employers Ask About
        p
          | Regarding personal information, most employers will not ask for much. Legally, employers are not allowed to ask about your race, gender, religion, children, disabilities, or various other things. If you have questions, seek legal advice. Most employers ask for your name, address, phone number, and proof of working eligibility (foreign visas, underage work certificates, etc.).
        p
          | Employers will also likely ask about your education. What schools did you attend? What did you major in? What year did you graduate/are you still in school? Do you have a degree or a diploma? Often, education questions are related to your qualifications for the job. Before applying for a job, ensure that you have the education necessary to do the job - otherwise you are wasting the employer's time and your own.
        p
          | The largest part of the application will talk about employment history. You will be required to fill out information about the job you are applying for - position title, work availability, and start date - as well as information about your previous jobs. This can include date employed, name/address/phone numbers of previous employers, and supervisor's name. In addition to information about the positions you've filled in the past and the position you're applying for, an employer may ask you to list references or attatch your resume to the application. 

    .row
      .col-lg-4
        h2 Applying In Person
        p
          | Applying in person can be intimidating. If at all possible, ask if you can take the application home and come back later with it filled out. However, if you don't have that option, we have some tips and tricks for you to follow to ensure your application is accurate and professional.
      .col-lg-4
        h2 &nbsp;
        p
          | When applying in person, treat it like you are going to a job interview, and dress appropriately. Some places will do an interview directly after you apply, or the manager may talk to you, so you want to be prepared to give the best first impression and to answer interview questions. 
      .col-lg-4
        h2 &nbsp;
        p
          | To fill out the application accurately, bring along all the information above, preferably in a nice portfolio or notebook. Bringing along items like your schedule, your resume, and your transcript will make the application process infinitely easier. Filling out a sample job application can also be helpful, and prepare you for both the application process and help record information that you will need later. Prepare away!

  // Page Content
  .container-fluid#interviews
    // Page Heading/Breadcrumbs
    
    .row
      h1.mt-4.mb-3
        small Having a successful 
        | Interview

    .row
      ol.breadcrumb
        li.breadcrumb-item
          a(href='job_openings.html') Job Openings
        li.breadcrumb-item
          a(href='resume_cv.html') Resume
        li.breadcrumb-item
          a(href='applications.html') Applications
        li.breadcrumb-item.active Interviews
    
    .row
      .col-lg-4.rightimgtop
        img.img-fluid.rounded.mb-4(src='./img/interview.jpg', alt='Man at interview')
      .col-lg-8
        p
          | Congratulations! You've found a position you love, sent in all the appropriate paperwork, and now you have the opportunity to talk with a real person!
        p
          | You are definitely not done quite yet, however. The interview can be considered one of the hardest parts of the job application. Regardless of how great your resume is, or how perfect you are for the position, the interview can help you get the job or completely shut you out.
        p
          | To help you out, we've compiled our best tips for interviewing well below. These tips will help you leave the best first impression on a potential employer and help land you the job you love.     
      .col-lg-4.rightimgbottom
        img.img-fluid.rounded.mb-4(src='./img/interview.jpg', alt='Man at interview')
        
    .row
      .col-lg-4
        img.img-fluid.rounded.mb-4(src='./img/handshake.jpg', alt='Shaking hand')
      .col-lg-8
        h2
          | Appearance
        p
          | Body language is one of the most important things in an interview. One of the simplest body language tricks to master is the strong handshake. Shaking someone's hand firmly and assertively makes you seem confident and assured in your interview. 
        p
          | Be careful to avoid crossing your arms or gesturing overly much with your hands. Crossing your arms gives the interviewer the impression that you are closed off and unfriendly, while 'talking with your hands' can make you seem overly excited and unprofessional.
        p
          | Facial expression is also an important part of interviewing. Looking the interviewer in the eye gives the impression of honesty and straightforwardness, while smiling helps sell you as friendly and personable.
        p
          | Finally, ensure that you dress appropriately for the interview. Your outfit should be professional and well-groomed. Outfits vary based on company environment, so we suggest that you do some research on the company you are applying with. 

    .row
      .col-lg-4.rightimgtop
        img.img-fluid.rounded.mb-4(src='./img/interview.jpg', alt='Man at interview')
      .col-lg-8
        h2 Talking to the Interviewer
        p
          | Communicating and connection with the interviewer is another key part of interviewing. You want to come off as friendly and confident to your potential employer, but you don't want to branch into unprofessionalism. Talking very loudly might portray confidence in your mind - but to an employer, it is brash and may come off as too intense.
        p
          | Being mildly conversational is excellent, but you don't want to treat the interview like a social hour. Keep idle conversation to a minimum, and let the interviewer ask questions. Be very careful not to cut an interviewer off in the middle of a question - interruptions are incredibly rude, and a good way to sour an interview.
        p
          | Finally, to leave an excellent impression on the employer, ensure that you use formal language and avoid slang. Also avoid using too much jargon - a little bit is okay, but using too much will leave an employer unimpressed. Furthermore, not telling the employer what they want to know or rambling can kill your interview quickly - make sure you completely answer the question, but keep the answer concisce and limited to what's relevant.
      .col-lg-4.rightimgbottom
        img.img-fluid.rounded.mb-4(src='./img/interview.jpg', alt='Man at interview')
        
    .row
      .col-lg-4
        img.img-fluid.rounded.mb-4(src='./img/handshake.jpg', alt='Shaking hand')
      .col-lg-8
        h2
          | Standing Out: The Best Ways to Leave a (Good) Impression
        p
          | Leaving an impression is one of the most important thing in an interview. Often, you are competing against candidates that are just as qualified as you, and need to make yourself stand out. The tips below will help you do just that.
        p
          | Coming prepared is one of the most important things. Bring all the necessary paperwork - and bring a copy! This ensures that you can know exactly what they are referring to and what you've said already. You should also bring some notes - if you have some information that just wasn't listed on your resume, a personal point of pride in your work, anything you want to talk about during the interview - write it down, and you are ten times more likely to remember it. Be prepared, and you will seem prepared.
        p
          | Come with questions! Do some research about the company and the position you are applying for. Many people do not take full advantage of the opportunity to ask about the position they are applying for, and thus waste an opportunity to make it seem like they really want the position. Asking questions helps you in two ways - not only do you find out more about the company, but your employer also gets the impression that you really care about the company and want the job. 
        p
          | One of our best tips is for after the interview. Make sure you send a thank you note! This can be as simple as "Thank you for interviewing me today. Can't wait to hear back from you all!", and helps demonstrate that you are truly interested in the position. The best way to do this is to deliver it by hand the same day, or to email the hiring manager. Leaving a thank you note can be the slight edge you need to get the position you love!