extends ../views/_layout.pug

block title
  title 40 Hours

block footerscripts
  a(href="#", class="scrollToTop btn nav-blue hvr-bob") Scroll To Top
  style.
    .scrollToTop{
    	padding:10px; 
    	text-align:center; 
    	font-weight: bold;
    	text-decoration: none;
    	position:fixed;
    	top:93vh;
    	left:87vw;
    	display:none;
    	border: none !important;
    }
    .scrollToTop:hover{
    	text-decoration:none;
    	color: white;
    }
  script.
    $(function() {
        $(".breadcrumb-item a[href*='resume_cv.html']").attr('href', '#resume');
        $(".breadcrumb-item a[href*='applications.html']").attr('href', '#applications');
        $(".breadcrumb-item a[href*='job_openings.html']").attr('href', '#openings');
        $(".breadcrumb-item a[href*='interviews.html']").attr('href', '#interviews');
        
        $('a[href*="#"]:not([href="#"])').click(function() {
            var offset = -50; // <-- change the value here
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top + offset
                    }, 1500);
                    return false;
                }
            }
        });
        
        //Check to see if the window is top if not then display button
    	$(window).scroll(function(){
    		if ($(this).scrollTop() > 100) {
    			$('.scrollToTop').fadeIn();
    		} else {
    			$('.scrollToTop').fadeOut();
    		}
    	});
    	
    	//Click event to scroll to top
    	$('.scrollToTop').click(function(){
    		$('html, body').animate({scrollTop : 0},1500);
    		return false;
    	});
    });
