extends ./views/_layout.pug

block title
  title 40 Hours - Applications
  
block content

  .container-fluid#applications

    .row
      h1.mt-4.mb-3
        small Filling out 
        | Applications
    .row
      ol.breadcrumb
        li.breadcrumb-item
          a(href='job_openings.html') Job Openings
        li.breadcrumb-item
          a(href='resume_cv.html') Resume
        li.breadcrumb-item.active Applications
        li.breadcrumb-item
          a(href='interviews.html') Interviews
    
    .row
      
      .col-lg-6
        h2 How to Fill Out a Job Application
        p
          | Filling out a job application is another common part of the employment process. Many jobs require that you complete an application along with your resume so the employer has another record of your education and employment history. When completing job applications, make sure you have all the information you need at your disposal, and that your application is free from errors. Discrepancies with your resume will often cause your application to get thrown out immediately. Job applications should also be complete - again, many employers will throw out applications that are not complete. 
      .col-lg-6
        h2 &nbsp;
        p
          | When filling out an application, make sure you take your time and are very thorough.  Many employers have moved to online applications, so you can fill out an application from the comfort of your home - and take your time. Keep a list of your employment history as well as your resume close by to ensure consistency and accuracy. Follow the directions to fill out the application down to the minute details, up to and including reading the fine print. If you don't have anything to say for a certain box - say you've never held a job before - just list N/A (not applicable). This helps to avoid the impression that you can't follow instructions. Neatness and grammar matter, so review your application before you submit it! Overall, the most important thing when filling out a job application is paying attention to detail and carefully ensuring accuracy.

    .row
      .col-lg-6
        img.img-fluid.rounded.mb-4(src='./img/signature.jpg', alt='Hand signing a document.')
      .col-lg-6
        h2 Items Most Employers Ask About
        p
          | Regarding personal information, most employers will not ask for much. Legally, employers are not allowed to ask about your race, gender, religion, children, disabilities, or various other things. If you have questions, seek legal advice. Most employers ask for your name, address, phone number, and proof of working eligibility (foreign visas, underage work certificates, etc.).
        p
          | Employers will also likely ask about your education. What schools did you attend? What did you major in? What year did you graduate/are you still in school? Do you have a degree or a diploma? Often, education questions are related to your qualifications for the job. Before applying for a job, ensure that you have the education necessary to do the job - otherwise you are wasting the employer's time and your own.
        p
          | The largest part of the application will talk about employment history. You will be required to fill out information about the job you are applying for - position title, work availability, and start date - as well as information about your previous jobs. This can include date employed, name/address/phone numbers of previous employers, and supervisor's name. In addition to information about the positions you've filled in the past and the position you're applying for, an employer may ask you to list references or attatch your resume to the application. 

    .row
      .col-lg-4
        h2 Applying In Person
        p
          | Applying in person can be intimidating. If at all possible, ask if you can take the application home and come back later with it filled out. However, if you don't have that option, we have some tips and tricks for you to follow to ensure your application is accurate and professional.
      .col-lg-4
        h2 &nbsp;
        p
          | When applying in person, treat it like you are going to a job interview, and dress appropriately. Some places will do an interview directly after you apply, or the manager may talk to you, so you want to be prepared to give the best first impression and to answer interview questions. 
      .col-lg-4
        h2 &nbsp;
        p
          | To fill out the application accurately, bring along all the information above, preferably in a nice portfolio or notebook. Bringing along items like your schedule, your resume, and your transcript will make the application process infinitely easier. Filling out a sample job application can also be helpful, and prepare you for both the application process and help record information that you will need later. Prepare away!
          
    .mt-4