extends ./views/_layout.pug


block title
  title 40 Hours - About Us/Contact
  
block content

  mixin user(fname, lname, image) 
    .col-sm-4.mb-4
      .card.h-100.text-center
        img.card-img-top(src=image, alt='')
        .card-body.text-nowrap
          h4.card-title(style='margin-bottom: 0;')=fname
          h4.card-title=lname
  style.
    .aboutUsText {
      font-size: 1.3em;
    }

  .container-fluid
    // Page Heading/Breadcrumbs
    .row
      h1.mt-4.mb-3
        | About Us / Contact
    
    .row
      .col-xl-6
        //img.rounded.mb-4.leftoftwitter.img-fluid(src='http://placehold.it/750x450', style='max-height: 350px; width: auto;', alt='')
        p.aboutUsText Hi, we're the web design team from Nixa High School in Nixa, Missouri!
        p.aboutUsText We decided to create this website to help people find a job. We know it can be hard and we wanted to share our knowledge with the world in order to help others. We hope it helps you!
        .row
          +user('Ryan', 'Knutson', './img/ryan.jpg')
          +user('Arianna', 'Swensen', './img/arianna.jpg')
          +user('Tessa', 'Coffey', './img/tessa.jpg')
        h3 Send Us a Message
        p Have any suggestions on how we can improve? Please let us know!
        .form-area
          form(role='form')#form
            .form-group
              input#name.form-control(type='text', name='name', placeholder='Name')
            .form-group
              input#email.form-control(type='text', name='email', placeholder='Email')
            .form-group
              input#subject.form-control(type='text', name='subject', placeholder='Subject')
            .form-group
              textarea#message.form-control(type='textarea', placeholder='Message', maxlength='140', rows='7')
        button#submit.submitform.btn.btn-primary.pull-right(type='button', name='submit') Submit Form
      
      .col-xl-6.twitter
        h3 Follow us on Twitter for some helpful tips!
        div
          a.twitter-timeline(data-height='125vh', data-chrome='nofooter transparent noheader', data-link-color='#22A7F0', href='https://twitter.com/_40_hours')
          script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
    br
    
  
          
block footerscripts
  script.
      $(document).ready(function() {
        //$('.twitter-timeline').height('125vh');
        $( ".submitform" ).click(function( event ) {
          event.preventDefault();
          $.notify({
          	message: 'Form submitted successfully!' 
          });
          $('#form').find("input, textarea").val("");
        });
      });
      
      
      