extends ./views/_layout.pug

block title
  title 40 Hours - Home

block content
  
  
  section.py-5.bg-image-full(style="background-image: url('./img/indexwork.jpg'); height: 70vh;")
    .light-yellow-background-on-image
      h3 We know that your work is important to you.
      p(style='font-size: 1.1em;')
        | That's why, at 40Hours, we are dedicated to getting you a position you will love. We've talked to the best professionals
        | and carefully put together their best tips so you can achieve your career goals. Happy hunting!
  
    
  .container-fluid
    .row
      h1.my-4(style='font-style: italic;') Welcome to 40Hours!
    .row
      .col-lg-12.text-center
        //h2 Our Mission
        h4(style='font-weight: 200;')
          | Here at 40Hours, we seek to make your professional development as simple as possible.
          | We want to create a life-changing experience where you will never worry about how the interview went or if you filled out the form right ever again.
          | Together, we can stop focusing on the unimportant stressors, and start focusing on changing the world.
        a.btn.btn-lg.btn-primary.btn-block.hvr-ripple-out(href='onepage.html', style='width: auto; font-weight: 200;') Let us guide you through the process!
    br
    .row.col-eq
      // /Boxes with Icons/
      .col-md-6.mb-4.col-eq2
        .box
          .icon
            .image
              i.fa.fa-briefcase
            .info
              h3.title Information on Job Openings
              p
                | Whether you're looking for a new career or just a fresh start, we can help you. Check out our information on job openings today!
              a.btn.btn-primary.btn-lg.hvr-ripple-out(data-toggle='modal', href='#primary')
                | Get Started
      .col-md-6.mb-4.col-eq2
        .box
          .icon
            .image
              i.fa.fa-envelope
            .info
              h3.title Writing a Resume/Cover Letter
              p
                | Resumes and cover letters are often an employer's first impression, and can determine if you get the job. Make your resume/CV the best it can be with our helpful tips!
              a.btn.btn-primary.btn-lg.hvr-ripple-out(data-toggle='modal', href='#primary')
                | Get Started


    .row.col-eq
      .col-md-6.mb-4.col-eq2
        .box
          .icon
            .image
              i.fa.fa-file
            .info
              h3.title Completing Application Forms
              p
                | Application forms can be tricky -- and you don't want to fill them out wrong. Check out our step-by-step guide to filling out application forms today!
              a.btn.btn-primary.btn-lg.hvr-ripple-out(data-toggle='modal', href='#primary')
                | Get Started
      .col-md-6.mb-4.col-eq2
        .box
          .icon
            .image
              i.fa.fa-user
            .info
              h3.title Tips/Presentation for an Interview
              p
                | Feeling anxious about an interview? Don't know how to present yourself? Having trouble choosing what to wear? Let us help you!
              a.btn.btn-primary.btn-lg.hvr-ripple-out(data-toggle='modal', href='#primary')
                | Get Started


    
    
    .mt-4


    //.row.mb-4
      .col-md-6
        h3.guidebuttontext Let us guide you through the process!
      .col-md-4.offset-md-1
        a.btn.btn-lg.btn-primary.btn-block.hvr-ripple-out(href='#') Sounds great!
        
        
        

mixin carousel
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-slide-to='0', data-target='#carouselExampleIndicators')
        li(data-slide-to='1', data-target='#carouselExampleIndicators')
        li(data-slide-to='2', data-target='#carouselExampleIndicators')
      .carousel-inner(role='listbox')
        // Slide One - Set the background image for this slide in the line below
        .carousel-item.active
          img(alt='Businessman holding out hand to shake.', src='img/scrabblehiring.jpg')
          .carousel-caption.d-none.d-md-block
            h3 Search
            p Find a career you love.
        // Slide Two - Set the background image for this slide in the line below
        .carousel-item
          img(alt='Journal, pens, and other writing utensils.', src='img/resume.jpg')
          .carousel-caption.d-none.d-md-block
            h3 Apply
            p Be the strongest candidate on the list.
        // Slide Three - Set the background image for this slide in the line below
        .carousel-item
          img(alt='Man staring across a table.', src='img/handshake.jpg')
          .carousel-caption.d-none.d-md-block
            h3 Interview
            p Impress with your best interview skills.
      a.carousel-control-prev(data-slide='prev', href='#carouselExampleIndicators', role='button')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(data-slide='next', href='#carouselExampleIndicators', role='button')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next