extends ./views/_layout.pug

block title
  title 40 Hours - Interviews

block content
  // Page Content
  .container-fluid#interviews
    // Page Heading/Breadcrumbs
    
    .row
      h1.mt-4.mb-3
        small Having a Successful 
        | Interview

    .row
      ol.breadcrumb
        li.breadcrumb-item
          a(href='job_openings.html') Job Openings
        li.breadcrumb-item
          a(href='resume_cv.html') Resume
        li.breadcrumb-item
          a(href='applications.html') Applications
        li.breadcrumb-item.active Interviews
    
    .row
      .col-lg-4.rightimgtop
        img.img-fluid.rounded.mb-4(src='./img/notes.jpg', alt='Taking notes')
      .col-lg-8
        p
          | Congratulations! You've found a position you love, sent in all the appropriate paperwork, and now you have the opportunity to talk with a real person!
        p
          | You are definitely not done quite yet, however. The interview can be considered one of the hardest parts of the job application. Regardless of how great your resume is, or how perfect you are for the position, the interview can help you get the job or completely shut you out.
        p
          | To help you out, we've compiled our best tips for interviewing well below. These tips will help you leave the best first impression on a potential employer and help land you the job you love.     
      .col-lg-4.rightimgbottom
        img.img-fluid.rounded.mb-4(src='./img/notes.jpg', alt='Taking notes')
        
    .row
      .col-lg-4
        img.img-fluid.rounded.mb-4(src='./img/handshake.jpg', alt='Shaking hand')
      .col-lg-8
        h2
          | Appearance
        p
          | Body language is one of the most important things in an interview. One of the simplest body language tricks to master is the strong handshake. Shaking someone's hand firmly and assertively makes you seem confident and assured in your interview. 
        p
          | Be careful to avoid crossing your arms or gesturing overly much with your hands. Crossing your arms gives the interviewer the impression that you are closed off and unfriendly, while 'talking with your hands' can make you seem overly excited and unprofessional.
        p
          | Facial expression is also an important part of interviewing. Looking the interviewer in the eye gives the impression of honesty and straightforwardness, while smiling helps sell you as friendly and personable.
        p
          | Finally, ensure that you dress appropriately for the interview. Your outfit should be professional and well-groomed. Outfits vary based on company environment, so we suggest that you do some research on the company you are applying with. 

    .row
      .col-lg-4.rightimgtop
        img.img-fluid.rounded.mb-4(src='./img/interview.jpg', alt='Man at interview')
      .col-lg-8
        h2 Talking to the Interviewer
        p
          | Communicating and connection with the interviewer is another key part of interviewing. You want to come off as friendly and confident to your potential employer, but you don't want to branch into unprofessionalism. Talking very loudly might portray confidence in your mind - but to an employer, it is brash and may come off as too intense.
        p
          | Being mildly conversational is excellent, but you don't want to treat the interview like a social hour. Keep idle conversation to a minimum, and let the interviewer ask questions. Be very careful not to cut an interviewer off in the middle of a question - interruptions are incredibly rude, and a good way to sour an interview.
        p
          | Finally, to leave an excellent impression on the employer, ensure that you use formal language and avoid slang. Also avoid using too much jargon - a little bit is okay, but using too much will leave an employer unimpressed. Furthermore, not telling the employer what they want to know or rambling can kill your interview quickly - make sure you completely answer the question, but keep the answer concisce and limited to what's relevant.
      .col-lg-4.rightimgbottom
        img.img-fluid.rounded.mb-4(src='./img/interview.jpg', alt='Man at interview')
        
    .row
      .col-lg-4
        img.img-fluid.rounded.mb-4(src='./img/mountain.jpg', alt='Man standing on mountain')
      .col-lg-8
        h2
          | Standing Out: The Best Ways to Leave a Good Impression
        p
          | Leaving an impression is one of the most important thing in an interview. Often, you are competing against candidates that are just as qualified as you, and need to make yourself stand out. The tips below will help you do just that.
        p
          | Coming prepared is one of the most important things. Bring all the necessary paperwork - and bring a copy! This ensures that you can know exactly what they are referring to and what you've said already. You should also bring some notes - if you have some information that just wasn't listed on your resume, a personal point of pride in your work, anything you want to talk about during the interview - write it down, and you are ten times more likely to remember it. Be prepared, and you will seem prepared.
        p
          | Come with questions! Do some research about the company and the position you are applying for. Many people do not take full advantage of the opportunity to ask about the position they are applying for, and thus waste an opportunity to make it seem like they really want the position. Asking questions helps you in two ways - not only do you find out more about the company, but your employer also gets the impression that you really care about the company and want the job. 
        p
          | One of our best tips is for after the interview. Make sure you send a thank you note! This can be as simple as "Thank you for interviewing me today. I'm excited to to have the opportunity to work with you!". This helps demonstrate that you are truly interested in the position. The best way to do this is to deliver it by hand the same day, or to email the hiring manager. Leaving a thank you note can be the slight edge you need to get the position you love!
    .mt-4      