extends ./views/_layout.pug

block title
  title 40 Hours - Job Openings

block content

  style.
    .w100 {
      width: 100%;
    }

  // Page Content
  .container-fluid#openings
    // Page Heading/Breadcrumbs
    .row
      h1.mt-4.mb-3
        small Searching for 
        | Job Openings
    .row
      ol.breadcrumb
        li.breadcrumb-item.active Job Openings
        li.breadcrumb-item
          a(href='resume_cv.html') Resume
        li.breadcrumb-item
          a(href='applications.html') Applications
        li.breadcrumb-item
          a(href='interviews.html') Interviews

    .row
      .col-lg-4
        img.img-fluid.rounded.mb-4.w100(src='./img/jobfair2.jpg', alt='Image of a job fair')
      .col-lg-8
        h2 Check out a Job Fair
        p
          | One of the many benefits of job fairs is the opportunity to branch out in your career or explore jobs you may not have originally been open to applying for. Job fairs allow you to talk to many different employers in one day. If you are limited on time to search for a new job, they are an excellent opportunity to maximize your time to get the most out of your career search. 
        p
          | Job fairs are one of the best methods to search for jobs for the person with strong interview skills. When meeting potential employers, you are putting a face to your application, and hopefully leaving an excellent first impression. This personal interaction with a future employer can make your application stand out among many. 
        p
          | One of the few drawbacks of job fairs is that there is a very short window to get to know the employer. Preparation is key, so come with all necessary documents - and extra copies - and determine which employers you want to talk with in order of priority. This will allow you to maximize your time. Some employers even do on-site interviews, so you could walk away from a successful job fair with a new job!
          
    .row
      .col-lg-4.rightimgtop
        img.img-fluid.rounded.mb-4.w100(src='./img/jobsearch.jpg', alt='Internet Job Searching')
      .col-lg-8
        h2 Use the Internet!
        p
          | Many employers are switching over to a more electronic means of recruitment - the internet. If you know exactly what company you want to work for, you can search on their website to find their job openings, and often employers will allow you to apply directly.
        p
          | However, if you don't know what company you'd like to work for, you can always use a commercial job site! Sites like ZipRecruiter are used frequently by employers for job postings and connecting with potential employees.
        p
          | If you have a strong resume but not the strongest social skills, the traditional application process using the internet is likely best for you. Be warned, however - postings on the internet make up only about a fourth of all jobs, but the Internet age means there will be stiff competition for the jobs that are. Happy hunting!      
      .col-lg-4.rightimgbottom
        img.img-fluid.rounded.mb-4.w100(src='./img/jobsearch.jpg', alt='Internet Job Searching')
        
    .row
      .col-lg-4
        img.img-fluid.rounded.mb-4.w100(src='./img/networking.jpg', alt='Networking')
      .col-lg-8
        h2 Network
        p
          | Many people find a job through the connections they have. Your professional network is one of your greatest assests - especially if you are an outgoing person and have a large network! Your network can include past and present coworkers, business associates, past or present teachers or alumni of your school, or anyone, really! 
        p
          | Your network is highly important and should be maintained at all times. Keep in contact with your network, and keep a list of who you know and what they do. Your networking contacts may be able to help you find a job, but they can also help get you the job by connecting you with employers on a personal level or sending your potential employer a personal reccomendation.
        p
          | If you are still in the process of creating your professional network, sites like LinkedIn and networking events - such as alumni parties, which many colleges host - can help you connect with new people. Many people are happy to expand their own network at these kinds of events, and you might also be able to help them. Use your network - it is one of your most valuable tools!
        
    .mt-4