doctype html
html(lang='en', style='font-size: 50px;')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, shrink-to-fit=no', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    title Nixa FBLA Web Design
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.rawgit.com/marvelapp/devices.css/master/assets/devices.min.css')
    //link(rel='stylesheet', href='http://purecssapple.com/css/master.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    style.
      html {
        zoom: 100%;
      }
      h1 {
        font-size: 20vh;
      }
      body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        -webkit-text-stroke: 0px!important;-webkit-font-smoothing: antialiased !important;
      }
      iframe {-webkit-text-stroke: 0px!important;-webkit-font-smoothing: antialiased !important;}
      .pca-hold {
        width: 300px;
      }
      .pca-hold {
        width: 800px;
      }
      .pca-hold .pca-main {
        display: block;
        position: relative;
        background-color: #dddddd;
        height: 480px;
        border: 28.8px solid #2d2d2d;
        border-top-left-radius: 19.2px;
        border-top-right-radius: 19.2px;
      }
      .pca-hold .pca-main:after {
        content: '';
        position: absolute;
        top: -20.4px;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0);
        width: 15.2px;
        height: 15.2px;
        background-color: #959595;
        border-radius: 100%;
      }
      .pca-hold .pca-main:before {
        content: '';
        opacity: 0;
      }
      .pca-hold .pca-inner {
        display: block;
      }
      .pca-hold .pca-sub {
        display: block;
        text-align: center;
      }
      .pca-hold .pca-sub .pca-top {
        position: relative;
        display: block;
        width: 800px;
        height: 64px;
        background-color: #e8e8e8;
        border-bottom-left-radius: 19.2px;
        border-bottom-right-radius: 19.2px;
        opacity: 1;
        z-index: 2;
      }
      .pca-hold .pca-sub .pca-top:after {
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMzAuMyIgaGVpZ2h0PSIxNjAiIHZpZXdCb3g9IjE5IDUgMTMwLjMgMTYwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDE5IDUgMTMwLjMgMTYwIj48dGl0bGU+TGF5ZXIgMTwvdGl0bGU+PHBhdGggZD0iTTEyNy44IDkwYy4yIDI0LjIgMjEuMiAzMi4zIDIxLjUgMzIuNC0uMi42LTMuNCAxMS41LTExLjEgMjIuOC02LjcgOS43LTEzLjYgMTkuNS0yNC41IDE5LjctMTAuNy4yLTE0LjItNi40LTI2LjQtNi40cy0xNi4xIDYuMi0yNi4yIDYuNmMtMTAuNS40LTE4LjUtMTAuNS0yNS4zLTIwLjMtMTMuNy0xOS45LTI0LjItNTYuMS0xMC4xLTgwLjYgNy0xMi4yIDE5LjUtMTkuOSAzMy4xLTIwLjEgMTAuMy0uMiAyMC4xIDcgMjYuNCA3IDYuMyAwIDE4LjItOC42IDMwLjYtNy4zIDUuMi4yIDE5LjkgMi4xIDI5LjMgMTUuOS0uOC4zLTE3LjUgMTAuMS0xNy4zIDMwLjNtLTIwLjEtNTkuNWM1LjYtNi44IDkuMy0xNi4yIDguMy0yNS41LTguMS4zLTE3LjggNS40LTIzLjYgMTIuMS01LjIgNi05LjcgMTUuNi04LjUgMjQuNyA5IC44IDE4LjItNC41IDIzLjgtMTEuMyIvPjwvc3ZnPg==);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .pca-hold .pca-sub .pca-mid {
        display: block;
        text-align: center;
        height: 64px;
        width: 100%;
        position: relative;
        z-index: 1;
      }
      .pca-hold .pca-sub .pca-mid .pca-part {
        display: block;
        margin: 0 auto;
        border-bottom: 80px solid #cdcdcd;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        height: 0;
        width: 240px;
      }
      .pca-hold .pca-sub .pca-bot {
        position: relative;
        display: block;
        width: 320px;
        height: 24px;
        margin: 0 auto;
        background-color: #e8e8e8;
        border-radius: 16px 16px 0 0;
        opacity: 1;
        z-index: 2;
      }
      .marvel-device.note8 {
          width: 330px;
          height: 550px;
      }
      iframe {
        -webkit-filter: blur(0.000001px);
        filter: blur(0.000001px);
        -webkit-font-smoothing: antialiased;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);

      }
      
      

  body
    .reveal
      .slides
        // section //uncomment for blank slide in intro
      
        section
          h1.animated.fadeIn(style='font-size: 3em; line-height: .9em;') Nixa FBLA Web Design
          p.animated.fadeIn Ryan D. Knutson
          p.animated.fadeIn Arianna Swensen
          p.animated.fadeIn Tessa Coffey
        
            
        section(data-transition='slide-in fade-out')
          h2.animated.fadeIn Works on Desktop
          .pca-hold.animated.zoomIn(style="margin: 0 auto;")
            .pca-main
              .pca-inner(style="height: 100%;")
                iframe(src='index.html', height='100%', width='100%', scrolling='no')
            .pca-sub
              .pca-top
              .pca-mid
                .pca-part
              .pca-bot
 
            
        section(data-transition='slide-in fade-out')
          h2.animated.fadeIn And on Mobile
          .marvel-device.note8.animated.zoomIn
            .inner
            .overflow
            //  .shadow
            .speaker
            .sensors
            .more-sensors
            .sleep
            .volume
            .camera
            .screen
              iframe(src='index.html', height='100%', width='100%', scrolling='no')
              
              
        section
          .container-fluid.animated.fadeIn
            | Built on Current Web Technologies
            .row
              .col-sm-3
                img.img-fluid(src='img/presentation/bootstrap.svg')
              .col-sm-3
                img.img-fluid(src='img/presentation/svg.svg')
              .col-sm-5
                img.img-fluid(src='img/presentation/htmlcss.svg')
            .row
              .col-sm-3
                img.img-fluid(src='img/presentation/pug.svg')
              .col-sm-3
                img.img-fluid(src='img/presentation/node.svg', style='margin-top: 30%;')
              .col-sm-3
                img.img-fluid(src='img/presentation/gitlab.svg')
              .col-sm-3
                img.img-fluid(src='img/presentation/jquery.svg')  
              
        section
          | Thank You All!
                
          
          
          //img(src='img/css3_html5_jquery_bootstrap.png')
            

         
        
          
          
          
    script(src='//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js')
    script(src='//code.jquery.com/jquery-3.2.1.slim.min.js')
    script.
      Reveal.initialize();
      $(document).ready(function() { 
        
      });
      //document.body.style.zoom="90%";