extends ./views/_layout.pug

block title
  title 40 Hours - Resume & Cover Letter
  
block content
  // Page Content
  .container-fluid#resume
    // Page Heading/Breadcrumbs
    .row
      h1.mt-4.mb-3
        small Writing your 
        | Resume
    .row
      ol.breadcrumb
        li.breadcrumb-item
          a(href='job_openings.html') Job Openings
        li.breadcrumb-item.active Resume
        li.breadcrumb-item
          a(href='applications.html') Applications
        li.breadcrumb-item
          a(href='interviews.html') Interviews
          
    .row
      .col-lg-6(style="background-image: url(./img/classic.jpg); background-size: cover;")
        //img.img-fluid.rounded.mb-4(src='https://resumegenius.com/wp-content/uploads/2015/02/Classic-BW-Template-OG-e1437464102555.jpg', alt='Classic Resume Template, B&W.')
      .col-lg-6
        h2 The Basics
        p
          | Writing your resume is one of the first steps towards getting a job position. Resumes should be short and to the point, allowing the person reviewing it to quickly get a feel for you as a person and if you fit the company. 
        p
          | In your resume, you should include an objective - what you are looking to do - along with your qualifications, education, experience, achievements, activities or interests, and of course, contact information. 
        p
          | As a general rule, focus on the most recent and relevant. With education, ensure that you include a GPA if you've recently graduated. If you have professional work experience, focus on your accomplishments and the skills you learned that are relevant to the position you are applying for. 
        p
          | Don't be afraid to include a little bit about yourself and your interests! If you're involved in a local organization, include that to add a personal touch to your resume. This helps the person reviewing your resume to remember you as a person, not just an application. 
    br
    .row
      h2 Our Best Tips
    .row
      .col-lg-4.mb-4
        .card.h-100.text-center
          .card-body
            h4.card-title The 7 Second Rule
            p.card-text
              | You have seven seconds to impress a reviewer. Make sure the top of the resume pops! In addition, your resume really shouldn't be longer than a page, and should be formatted simply, with bullet pointed items for quick review. The bullet points should describe previous work experience in how it relates to the position you are applying for, as opposed to simplistic "did x" descriptions.
      .col-lg-4.mb-4
        .card.h-100.text-center
          .card-body
            h4.card-title Customize, Customize, Customize
            p.card-text
              | Never use the same resume for all of your applications! That's a surefire way to have your resume tossed out - some places will even toss your resume automatically if it does not contain key industry language. Instead, tweak your resume each time to cater to the position you're applying for. Highlight your strengths and how they're relevant to the position. 

      .col-lg-4.mb-4
        .card.h-100.text-center
          .card-body
            h4.card-title Network and Modify
            p.card-text
              | Your resume isn't getting any attention - now what? Consider modifying your resume design to add color, or even a picture of yourself to attract special attention and make your resume memorable. You can also network with friends, alumni of your alma mater, and other people in your field to see if they have any tips or can get you a special reccomendation for a position.
    .row
      h2 Resume Templates
    .row
      .col-md-4.mb-4
        .card.h-100.text-center
          img.card-img-top(src='./img/classic.jpg', alt='Classic Resume Template B&W')
          .card-body
            h4.card-title Classic
            p.card-text
              | One of the most basic resume templates. Highly flexible and easy to read.
          .card-footer
            a(href='https://resumegenius.com/wp-content/uploads/2014/07/Template-DL-Basic-Classic-RWD.zip') Download
      .col-md-4.mb-4
        .card.h-100.text-center
          img.card-img-top(src='./img/chicago.jpg', alt='Chicago Resume Template Brick Red')
          .card-body
            h4.card-title Chicago
            p.card-text
              | Like Classic, Chicago is simple and good for most employment fields. For those who want more structure, Chicago keeps the sections of your resume more separate and clear.
          .card-footer
            a(href='https://resumegenius.com/wp-content/uploads/2016/01/Template-DL-Basic-Chicago.zip') Download
      .col-md-4.mb-4
        .card.h-100.text-center
          img.card-img-top(src='./img/elegant.jpg', alt='Elegant Resume Template Burnt Orange')
          .card-body
            h4.card-title Elegant
            p.card-text
              | The foil of Chicago, Elegant is for those who wish for a less heavy and less strictly structured resume. Like the other two templates listed here, it is excellent for most fields. 
          .card-footer
            a(href='https://resumegenius.com/wp-content/uploads/2016/01/Template-DL-Basic-Elegant.zip') Download

    .row
      .col-lg-6
        h2 Cover Letters
        p
          | Much like a resume, a cover letter is another important part of the application process. As far as formatting goes, you can set up your sheet with 1"-1.5" margins, and just about any font you want, as long as it's large enough to read (about 12pt). Keep uniformity throughout - don't change fonts or text alignment halfway through the letter. Your cover letter, like your resume, should only be one page.
        p
          | To begin, start at the top of the page with your contact information centered at the very top. Then, directly below that, include the contact information of the employer as if you were writing a business letter addressed to them. If you like, you can change the font and font color of your name to make it stand out from the rest of the page.
        p
          | Next, write the introduction. Do not begin with "To Whom It May Concern" - instead, try to find the name of the hiring manager and address them directly. After that, briefly discuss the position you are applying for and how you discovered it. This should take 1-2 sentences at most. The remainder of the introductory paragraph should present basic information about yourself: a quick summary of the information the employer will find in your resume. in a couple sentences.
        p
          | After you've finished introducing yourself, you have to sell yourself as the best candidate. Talk about how your experiences and skills will help the company succeed. You should include phrases from the job description in your sales pitch to demonstrate your knowledge about the position and your ability to fill it. If you really want to stand out, look at the direction the company is taking and their current mission, and explain how you fit into that.
        p
          | In your ending statement, you want to include a call to action. This should emphasize your desire to be interviewed for this position and emphasize your desire to hear something back. In this section, you should also thank the reader for their time, and other professional courtesies in order to wrap up the letter. Congratulations! You've completed your cover letter!
      .col-lg-6.text-center
        //a(href="https://resumegenius.com/cover-letters-the-how-to-guide/cover-letter-design-library#classic-cover-letters")
        img.img-fluid.rounded.mb-4(src='./img/cover.jpg', alt='Classic Cover Letter B&W')
    .mt-4
